.grid {
  display: flex;
  flex-wrap: wrap;
  height: 420px;
  width: 220px;
}

.grid div {
  border: 1px solid black;
  height: 20px;
  width: 20px;
}

.grid .bottom {
  display: none;
}

.grid .shape {
  background-color: blue;
}
